<?xml version="1.0" encoding="utf-8"?>
<!-- 
SLSkin Config File.
Author: Ruben Oanta
ruben@ignitenetwork.com.
Designed for Smartlaunch.
-->

<InterfaceConfig debug="true">

	<!-- Place a link here to your terms of service. -->
	<TermsOfService enabled="true"><![CDATA[Your personal info is safe with us! See our <a href='http://ignitenetwork.com/tos'><u>Terms Of Service</u></a>.]]></TermsOfService>

	<!--
	Mail Chimp auto-subscribe.
	If enabled, this will ask new sign-ups if they want to subscribe to your specified mailing list when they
	create their SL account.

	apiKey - For instructions on how to get an api key check here: http://kb.mailchimp.com/article/where-can-i-find-my-api-key
	listID - For instructions on how to find your listID check here: http://kb.mailchimp.com/article/how-can-i-find-my-list-id
	doubleOptin -  double optin indicates whether or not MailChimp should send a verification email before adding them to your list. If turned off, the user will be auto-subscribed.
	selected - Specifies if the checkbox is already selected.

	NOTE: The following |MERGE| tags are added with the subscription: FNAME, LNAME, BDAY, SLACCOUNT.

	If your not using MailChimp you should be :) http://mailchimp.com/
	-->
	<MailChimp enabled="true" apiKey="APIKEY" listID="LISTID" doubleOptin="false" selected="true"><![CDATA[Subscribe to our mailing list for news, events, and promotions.]]></MailChimp>

	<Images>

		<!-- 
			Background images can be in png, jpg, bmp, or gif.
			autoScrollSeconds - Defines the interval in seconds to wait before switching background images.
			randomOrder {true | false } - Indiciates if the images should be shuffled in a random order. 
		-->
		<backgrounds autoScrollSeconds="120" randomOrder="false">
			<bg>assets/aura-1280x1024.jpg</bg>
			<bg>assets/wow.jpg</bg>
			<bg>http://us.media.blizzard.com/d3/media/wallpapers/wallpaper018/wallpaper018-1280x1024.jpg</bg>
		</backgrounds>

		<!-- logo used on the login screen - 150px x 150px -->
		<loginLogo>assets/logo.png</loginLogo>

		<!-- logo used on the home screen footer - 75px x 75px -->
		<footerLogo>assets/logo.png</footerLogo>
	</Images>

	<!-- 
		Defines the content displayed in the HomeView. Content can be a JPG, PNG, GIF, SWF or
		a youtube video.
	-->
	<HomeViewContent autoScrollSeconds="15">
		
		<!--<content type="image" thumbnail="">
			<url>./assets/d3.png</url>
			<caption>Available here on May 15th.</caption>
		</content>

		<content type="image" thumbnail="./assets/toasted-smore-thumb.jpg">
			<url>./assets/toasted-smore.jpg</url>
			<caption></caption>
		</content>

		<content type="image" thumbnail="./assets/sc2weekly-thumb.jpg">
			<url>./assets/sc2weekly.jpg</url>
			<caption><![CDATA[Get more information about this and other Starcraft 2 events <a href='http://www.facebook.com/groups/188378661177322/' target='_blank'>here.</a>]]></caption>
		</content>

		<content type="image" thumbnail="./assets/unlimited-thumb.jpg">
			<url>./assets/unlimited.jpg</url>
			<caption></caption>
		</content>

		<content type="youtube" thumbnail="">
			<url>http://www.youtube.com/watch?v=o_ae76B-isA</url>
			<caption></caption>
		</content>

		<content type="youtube" thumbnail="">
			<url>http://www.youtube.com/watch?v=_yuVJ19W4AM</url>
			<caption></caption>
		</content>-->

	</HomeViewContent>

	<!-- Link Icons should be 24 x 24 -->
	<!-- Twitter feed can be displayed in the news feed if the ScreenName is set. -->
	<Social twitterScreenName="ignitenetwork" showTweetsInNews="true" showRepliesInNews="false">
		<link alias="facebook.com/ignitenetwork" iconPath="assets/fb.png">http://facebook.com/ignitenetwork</link>
		<link alias="@ignitenetwork" iconPath="assets/twitter.png">http://twitter.com/ignitenetwork</link>
		<link alias="+ignitenetwork" iconPath="assets/gplus.png">https://plus.google.com/112506272369079452232/</link>
		<link alias="ignite Youtube Channel" iconPath="assets/youtube.png">http://www.youtube.com/ignitenetwork</link>
		<link alias="Find us on Yelp!" iconPath="assets/yelp.png">http://www.yelp.com/biz/ignite-network-gaming-lounge-chicago</link>
		<!--<link alias="Sign up for our mailing list!" iconPath="assets/mailinglist.png">http://eepurl.com/hdSog</link>-->
	</Social>
	
	<Sounds>
	</Sounds>

	
	<Strings>

		<!-- Form Validation Strings -->
		<InvalidPasswordRegex><![CDATA[Password must contain a special character or digit.]]></InvalidPasswordRegex>
		<InvalidBirthdayRegex><![CDATA[Required format is MM/DD/YYYY.]]></InvalidBirthdayRegex>
		<InvalidBirthdayMonth><![CDATA[12 possible months.]]></InvalidBirthdayMonth>
		<InvalidBirthdayDay><![CDATA[31 possible days in a month.]]></InvalidBirthdayDay>
		<InvalidBirthdayTooOld><![CDATA[Are you really {0} years old?]]></InvalidBirthdayTooOld>
		<InvalidBirthdayTooYoung><![CDATA[You are really advanced for your age!]]></InvalidBirthdayTooYoung>
		<InvalidBirthdayFuture><![CDATA[Did you come back from the future?]]></InvalidBirthdayFuture>
		<InvalidPhoneRegex><![CDATA[Required format is 7734047033.]]></InvalidPhoneRegex>
		<InvalidEmailRegex><![CDATA[Email is invalid!]]></InvalidEmailRegex>
		<InvalidEmailMissingAt><![CDATA[Email is missing @ symbol.]]></InvalidEmailMissingAt>

		<!-- 
			String used when verifying an application launch.
			Two variables can be passed into this string.
			{0} - The application name
			{1} - The time until launch
		-->
		<VerifyAppLaunch><![CDATA[Launching {0} in {1}...]]></VerifyAppLaunch>
		<ErrorString><![CDATA[Bummer! There was a technical problem. If the problem persists, please ask a staff member for assistance.]]></ErrorString>
		
	</Strings>
	
	
</InterfaceConfig>