<?xml version="1.0" encoding="utf-8"?>
<!-- 
SLSkin Config File.
-->
<InterfaceConfig debug="true">

	<!-- Place a link here to your terms of service. -->
	<TermsOfService enabled="true"><![CDATA[Your personal info is safe with us! See our <a href='http://ignitenetwork.com/tos'><u>Terms Of Service</u></a>.]]></TermsOfService>

	<!--
	Mail Chimp auto-subscribe.
	If enabled, this will ask new sign-ups if they want to subscribe to your specified mailing list when they
	create their SL account.

	apiKey - For instructions on how to get an api key check here: http://kb.mailchimp.com/article/where-can-i-find-my-api-key
	listID - For instructions on how to find your listID check here: http://kb.mailchimp.com/article/how-can-i-find-my-list-id
	doubleOptin -  double optin indicates whether or not MailChimp should send a verification email before adding them to your list. If turned off, the user will be auto-subscribed.
	selected - Specifies if the checkbox is already selected.

	NOTE: The following |MERGE| tags are added with the subscription: FNAME, LNAME, BDAY, SLACCOUNT.

	If your not using MailChimp you should be :) http://mailchimp.com/
	-->
	<MailChimp enabled="true" apiKey="APIKEY" listID="LISTID" doubleOptin="false" selected="true"><![CDATA[Subscribe to our mailing list for news, events, and promotions.]]></MailChimp>

	<Images>

		<!-- 
			Background images can be in png, jpg, bmp, or gif.
			autoScrollSeconds - Defines the interval in seconds to wait before switching background images.
			randomOrder {true | false } - Indiciates if the images should be shuffled in a random order. 
		-->
		<backgrounds autoScrollSeconds="120" randomOrder="true">
			<bg>assets/aura-1280x1024.jpg</bg>
		</backgrounds>

		<!-- logo used on the login screen - 150px x 150px -->
		<loginLogo>assets/logo.png</loginLogo>

		<!-- logo used on the home screen footer - 75px x 75px -->
		<footerLogo>assets/logo.png</footerLogo>
	</Images>

	<!-- 
		Defines the content displayed in the HomeView. Content can be a JPG, PNG, GIF, SWF or
		a youtube video.
	-->
	<HomeViewContent autoScrollSeconds="15">
		<content type="image" thumbnail="">
			<url>./assets/d3.png</url>
			<!--<caption><![CDATA[Diablo III is here! <a href="event:launchApp(363, Diablo III)">Play it now</a>.]]></caption>-->
			<caption></caption>
		</content>
		
		<content type="image" thumbnail="./assets/toasted-smore-thumb.jpg">
			<url>./assets/toasted-smore.jpg</url>
			<caption></caption>
		</content>

		<content type="youtube" thumbnail="">
			<url>http://www.youtube.com/watch?v=o_ae76B-isA</url>
			<caption></caption>
		</content>

		<content type="youtube" thumbnail="">
			<url>http://www.youtube.com/watch?v=_yuVJ19W4AM</url>
			<caption></caption>
		</content>

		<content type="image" thumbnail="">
			<url>http://ignitenetwork.com/images/xboxs.png</url>
			<caption>Test Caption</caption>
		</content>

		<content type="image" thumbnail="">
			<url>http://ignitenetwork.com/images/rb.png</url>
			<caption>Test Caption #2</caption>
		</content>

	</HomeViewContent>

	<!-- Link Icons should be 24 x 24 -->
	<!-- Twitter feed can be displayed in the news feed if the ScreenName is set. -->
	<Social twitterScreenName="ignitenetwork" showTweetsInNews="true" showRepliesInNews="false">
		<link alias="facebook.com/ignitenetwork" iconPath="assets/fb.png">http://facebook.com/ignitenetwork</link>
		<link alias="@ignitenetwork" iconPath="assets/twitter.png">http://twitter.com/ignitenetwork</link>
		<link alias="+ignitenetwork" iconPath="assets/gplus.png">https://plus.google.com/112506272369079452232/</link>
		<link alias="ignite Youtube Channel" iconPath="assets/youtube.png">http://www.youtube.com/ignitenetwork</link>
		<link alias="Find us on Yelp!" iconPath="assets/yelp.png">http://www.yelp.com/biz/ignite-network-gaming-lounge-chicago</link>
		<!--<link alias="Sign up for our mailing list!" iconPath="assets/mailinglist.png">http://eepurl.com/hdSog</link>-->
	</Social>
	
	<Sounds>
		<OrderAccepted><![CDATA[assets/sounds/order-accepted.mp3]]></OrderAccepted>
		<OrderDenied><![CDATA[assets/sounds/order-denied.mp3]]></OrderDenied>
		<InvalidUsername><![CDATA[assets/sounds/invalid-username.mp3]]></InvalidUsername>
		<InvalidPassword><![CDATA[assets/sounds/invalid-password.mp3]]></InvalidPassword>
		<AccountLocked><![CDATA[assets/sounds/account-locked.mp3]]></AccountLocked>
		<15_MinutesWarning><![CDATA[assets/sounds/15-min-left.mp3]]></15_MinutesWarning>
		<10_MinutesWarning><![CDATA[assets/sounds/10-min-left.mp3]]></10_MinutesWarning>
		<5_MinutesWarning><![CDATA[assets/sounds/5-min-left.mp3]]></5_MinutesWarning>
		<1_MinutesWarning><![CDATA[assets/sounds/1-min-left.mp3]]></1_MinutesWarning>
		<WelcomeBack><![CDATA[assets/sounds/welcome-back.mp3]]></WelcomeBack>
		<GameStarting><![CDATA[assets/sounds/game-loading-1.mp3]]></GameStarting>
		<EnterInformation><![CDATA[assets/sounds/enter-personal-info.mp3]]></EnterInformation>
		<InvalidFields><![CDATA[assets/sounds/required-fields.mp3]]></InvalidFields>
	</Sounds>
	
	<!-- 
	Regex validators used during account setup. For more information about AS3 regex, refer to:
	http://help.adobe.com/en_US/FlashPlatform/reference/actionscript/3/RegExp.html
	 -->
	<FormValidators>
		<Password>
			<re flags=""><![CDATA[[!@#\\$%\\^&\\*_\\+=<>.\\?\\~`]+|\d+]]></re>
			<error><![CDATA[Password must contain a special character or digit.]]></error>
		</Password>

		<Birthday>
			<!-- Regex fixed to MM/DD/YYYY to simplify internal parsing. --->
			<error><![CDATA[Required format is MM/DD/YYYY.]]></error>
			<!-- other error messages for birthday -->
			<monthError><![CDATA[12 possible months.]]></monthError>
			<dayError><![CDATA[31 possible days in a month.]]></dayError>
			<yearError><![CDATA[Did you come back from the future?]]></yearError>
			<tooOldError><![CDATA[Are you really {0} years old?]]></tooOldError>
			<tooYoungError><![CDATA[You are really advanced for your age!]]></tooYoungError>
		</Birthday>

		<Phone>
			<re flags="x"><![CDATA[^(\d{10} | \d{11})$]]></re>
			<error><![CDATA[Invalid phone number (ex. 7734047033)]]></error>
		</Phone>

		<Email>
			<re flags="i"><![CDATA[^[A-Z0-9._%+-]+@(?:[A-Z0-9-]+\.)+[A-Z]{2,4}$]]></re>
			<error><![CDATA[Email is invalid!]]></error>
			<missingAtError><![CDATA[Email is missing @ symbol.]]></missingAtError>
		</Email>

		<Zip>
			<re flags="x"><![CDATA[^\d{5}$]]></re>
			<error><![CDATA[Invalid zip code (ex. 60618)]]></error>
		</Zip>
	</FormValidators>

	<Strings>
		<!-- 
		String used when verifying an application launch.
		Two variables can be passed into this string.
		{0} - The application name
		{1} - The time until launch
		-->
		<VerifyAppLaunch><![CDATA[Launching {0} in {1}...]]></VerifyAppLaunch>
		<ErrorString><![CDATA[Bummer! There was a technical problem. If the problem persists, please ask a staff member for assistance.]]></ErrorString>
		<LoggingOut><![CDATA[Logging Out...]]></LoggingOut>
	</Strings>
</InterfaceConfig>